TD {
	COLOR: #000000; FONT-SIZE: 12px
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
.text1 {
	COLOR: #660000; FONT-SIZE: 12px
}
.text2 {
	COLOR: #ffffff; FONT-SIZE: 12px
}
.text3 {
	COLOR: #46b5ff; FONT-SIZE: 12px
}
.text4 {
	COLOR: #cd9b32; FONT-SIZE: 12px
}
.text5 {
	COLOR: #000000; FONT-SIZE: 16px
}
.box {
	FONT-SIZE: 12px; HEIGHT: 18px
}
.box2 {
	BACKGROUND-COLOR: #ffffdd; BORDER-BOTTOM-COLOR: #000000; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-COLOR: #000000; BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-COLOR: #000000; BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-COLOR: #000000; BORDER-TOP-WIDTH: 1px; COLOR: #660000; FONT-SIZE: 9pt; PADDING-TOP: 1px
}
.box2_1 {
	BACKGROUND-COLOR: #d1efec; BORDER-BOTTOM: #660000 1px solid; BORDER-LEFT: #660000 0px solid; BORDER-RIGHT: #660000 0px solid; BORDER-TOP: #660000 0px solid; COLOR: #660000; FONT-SIZE: 9pt; HEIGHT: 14px; PADDING-TOP: 1px
}
.box3 {
	BACKGROUND-COLOR: #e3e9c9; BORDER-BOTTOM: #660000 1px solid; BORDER-LEFT: #660000 0px solid; BORDER-RIGHT: #660000 0px solid; BORDER-TOP: #660000 0px solid; COLOR: #660000; FONT-SIZE: 9pt; HEIGHT: 14px; PADDING-TOP: 1px
}
.box3_1 {
	BACKGROUND-COLOR: #e3e9c9; BORDER-BOTTOM: #660000 1px solid; BORDER-LEFT: #660000 0px solid; BORDER-RIGHT: #660000 0px solid; BORDER-TOP: #660000 0px solid; COLOR: #660000; FONT-SIZE: 9pt; PADDING-TOP: 1px
}
.box4 {
	BACKGROUND-COLOR: #cccccc; BORDER-BOTTOM: #660000 1px solid; BORDER-LEFT: #660000 0px solid; BORDER-RIGHT: #660000 0px solid; BORDER-TOP: #660000 0px solid; COLOR: #660000; FONT-SIZE: 9pt; PADDING-TOP: 1px
}
.box5 {
	BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 0px solid; BORDER-RIGHT: #000000 0px solid; BORDER-TOP: #000000 0px solid; COLOR: #660000; FONT-SIZE: 9pt; HEIGHT: 16px; PADDING-TOP: 1px
}
.box5_1 {
	BACKGROUND-COLOR: #e3e9c9; BORDER-BOTTOM: 1px; BORDER-LEFT: 1px; BORDER-RIGHT: 1px; BORDER-TOP: 1px; COLOR: #660000; FONT-SIZE: 9pt; HEIGHT: 16px; PADDING-TOP: 1px
}
.input2 {
	BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-WIDTH: 1px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; FONT-SIZE: 9pt; HEIGHT: 18px
}
.tx {
	BACKGROUND-COLOR: #eeeeee; BORDER-BOTTOM-COLOR: #000000; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-COLOR: black; BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-COLOR: black; BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-COLOR: black; BORDER-TOP-WIDTH: 0px; COLOR: #0000ff; FONT-SIZE: 9pt
}
